
<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <h3>Task Tracker</h3>
    </div>
    <nav class="menu">
      <ul class="nav nav-pills flex-column">
        <li routerLinkActive="active" class="nav-item">
          <a [routerLink]="['/system','main']" class="nav-link"> <i class="fas fa-clipboard-list"></i> Main </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a [routerLink]="['/system','settings']" class="nav-link"> <i class="fa fa-cog"></i> Settings </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
