$main_theme : #fff;
$sidebar: #273d6f;
$page: #b1c5ff;
$header: #acacac;

body{
  background-color:$main_theme;
}

.header{
  background-color: $header;
}

.sidebar{
  color:#fff;
  background-color:$sidebar;
  .nav-link{
    color: #fff;
  }
  a:hover{
    color: #add0ff;
  }
  .nav-item.active{
    background-color: #1f3858;
  }
}

.page{
  background-color:$page;
}

.list-group,.sidebar-header,.header{
  padding: 10px;
}
